<div class="row">    
    <br>
    <div class="col-md-2 col-sm-3 text-center">
      <a class="story-title" href="#"><img alt="" src="http://localhost:8090/view/{{author.authimage}}" style="width:100px;height:100px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9">
      <h3>{{author.authname}}</h3>
      <div class="row">
        <div class="col-xs-8">
          <h4><span class="label label-default">{{author.authgenre}}</span></h4><h4>
          <small style="font-family:courier,'new courier';" class="text-muted"></small>
          </h4></div>
        <div class="col-xs-4">            
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <hr>